<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ $styles := resources.Get "css/main.css" | postCss (dict "config" "./postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    </head>
<body>
    {{ block "main" . }}
    {{ end }}
</body>
</html>
